<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="frame/layui/css/layui.css">
</head>
<body>
    <div class="layui-container">
        <!--header-->
        <div id="header" style="height: 100px;">
            <ul class="layui-nav layui-bg-orange">

                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;"><img src="" class="layui-nav-img">我</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">修改信息</a></dd>
                        <dd><a href="javascript:;">注销</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!--tab-->
        <div class="layui-tab" lay-filter="main_tab">
            <ul class="layui-tab-title">
                <li lay-id="one">任务创建</li>
                <li  class="layui-this" lay-id="two">查看任务列表</li>
            </ul>
            <div class="layui-tab-content">
                <!--任务创建选项卡-->
                <div class="layui-tab-item">

                    <form class="layui-form" lay-filter="task_form" style="width: 65%">

                        <div class="layui-form-item">
                            <div class="layui-input-block layui-hide">
                                <input type="text" name="user_id" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">任务名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="task_name" lay-verify="required" autocomplete="off" placeholder="请输入任务名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">任务时间段</label>
                            <div class="layui-input-inline">
                                <input name="period_start" lay-verify="required" type="text" class="layui-input" id="period_start" placeholder="yyyy-MM-dd HH:mm:ss">
                            </div>

                            <div class="layui-form-mid">-</div>

                            <div class="layui-input-inline">
                                <input name="period_end" lay-verify="required" type="text" class="layui-input" id="period_end" placeholder="yyyy-MM-dd HH:mm:ss">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">任务性质</label>
                            <div class="layui-input-inline">
                                <select name="task_nature">
                                    <option value="工作">工作</option>
                                    <option value="学习">学习</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">任务内容</label>
                            <div class="layui-input-block">
                                <textarea name="task_content" lay-verify="required" placeholder="请输入任务内容" class="layui-textarea"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">笔记链接</label>
                            <div class="layui-input-block">
                                <input type="text" name="task_href" autocomplete="off" placeholder="笔记链接" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="add_task">立即提交</button>
                                <button id="btn-reset" type="reset" class="layui-btn layui-btn-primary">重置</button>

                                <button id="setValue" class="layui-btn layui-bg-orange">赋值</button>
                            </div>
                        </div>

                    </form>

                </div>
                <!--查看任务列表选项卡-->
                <div class="layui-tab-item layui-show">

                    <table id="task_list_demo" class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>昵称</th>
                            <th>加入时间</th>
                            <th>签名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>贤心</td>
                            <td>2016-11-29</td>
                            <td>人生就像是一场修行</td>
                        </tr>
                        <tr>
                            <td>许闲心</td>
                            <td>2016-11-28</td>
                            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                        </tr>
                        </tbody>
                    </table>

                    <table id="task_list" class="layui-hide"></table>

                </div>
            </div>
        </div>

        <!--body-->
        <div id="main">

        </div>

    </div>

<script src="frame/layui/layui.js" charset="UTF-8"></script>
<script th:inline="none">

    layui.use(['layer', 'form', 'laydate', 'jquery', 'element', 'table'], function () {
        var layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            $ = layui.jquery,
            element = layui.element,
            table = layui.table;

        // 时间控件
        laydate.render({
            elem: '#period_start',
            type: 'datetime'
        });
        laydate.render({
            elem: '#period_end',
            type: 'datetime'
        });

        // 可以优化， 不由前台传到后台
        form.val("task_form", {"user_id" : localStorage.getItem("userId")});

        // 提交任务的监听
        form.on('submit(add_task)', function (data) {
            $.ajax({
                type: "post",
                url: "create/task",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(data.field),
                dataType: "json",
                success: function (returnData) {
                    console.log(returnData)
                    if(returnData.success == true){
                        layer.msg("任务记录成功");
                        //重置表单
                        // form.reset();
                        $("#btn-reset").click();
                        layer.msg("重置完成")
                    }
                }
            });
            return false;
        });


        // todo 加入用户姓名字段
        table.render({
            elem: "#task_list",
            url: 'list',
            method: 'GET',
            cellMinWidth: 80,
            request:{
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            response:{
                dataName: 'module'
            },
            cols:[[
                {field: 'id', title: 'ID', sort: true},
                {field: 'userId', title: "用户ID"},
                {field: 'taskName', title: '任务名称'},
                {field: 'taskStartTime', title: '开始时间', sort: true},
                {field: 'taskEndTime', title: '结束时间'},
                {field: 'taskDuration', title: '任务时长(h)'},
                {field: 'taskNature', title: '任务性质'},
                {field: 'taskContent', title: '任务内容'},
                {field: 'notehref', title: '笔记链接'}

            ]],
            skin: 'line',
            even: true,
            page: true,
            limit: 5,
            limits: [5,10],
            done: function (res, curr, count) {
                console.log("table render done")
            }
        });




    });
</script>
</body>
</html>